.tres{
  background-color: #303030;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: #4bc9ff;
}
.proyectos{
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.card{
  text-align: center;
  width: 30%;
  border: solid #4bc9ff 1px;
  border-radius: 10px;
  padding: 10px;
}
.card img{
  width: 100%;
}
.card a, footer a {
  color: #4bc9ff;
}

.red-social{
  height: 60px;
  background-color: #F2F2F2;
  border-radius: 10px;
}

footer{
  background-color: #424242;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #4bc9ff;
  height: 250px;
}
.contacto{
  width: 30%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .caja-central{
      width: 90%;
      height: 70%;
      flex-direction: column;
  }
  .caja-cara{
      width: 100%;
      height: 50%;
  }
  .caja-presentacion{
      width: 100%;
      height: 50%;
      align-items: flex-start;
  }
  .aptitudes{
      width: auto;
  }
  .dos{
      height: auto;
      padding: 0 10px 10px 10px;

  }
  .tres{
      height: auto;
  }
  .proyectos{
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;
  }
  .card{
      width: 80%;
      margin-top: 20px;
  }
  .red-social{
      margin: 0 10px 0 10px;
  }
}
