<section class="tres">
  <h2>MY PROJECTS</h2>
  <div class="proyectos">
      <div class="card">
          <h3>Project 1</h3>
          <img src="../../../assets/proyecto1.jfif" alt="">
          <p>

          </p>
          <a href="" target="_blank">Ver</a>
      </div>
      <div class="card">
          <h3>Project 2</h3>
          <img src="../../../assets/proyecto2.jfif" alt="">
          <p>

          </p>
          <a href="" target="_blank">Ver</a>
      </div>
      <div class="card">
          <h3>Project 3</h3>
          <img src="../../../assets/proyecto3.jfif" alt="">
          <p>

          </p>
          <a href="" target="_blank">Ver</a>
      </div>
  </div>
</section>
