<section class="dos">
  <h2>
    EXPERIENCE AND EDUCATION </h2>
  <p>
    Education: Argentina programa course 2022-2023
  </p>
  <p>(Full Stack Developer Jr. )</p>
  <h2>
    KNOWLEDGE
  </h2>
  <p>
      These are some of the technologies that I am awarw of.
  </p>
  <div class="aptitudes">
      <div class="tech-list">
        <circle-progress
          [percent]="65"
          [radius]="60"
          [space]="-5"
          [outerStrokeWidth]="5"
          [outerStrokeColor]="'#76C2AF'"
          [innerStrokeColor]="'#ffffff'"
          [innerStrokeWidth]="5"
          [imageSrc]="'../../../assets/angular.png'"
          [imageHeight]="81"
          [imageWidth]="80"
          [showImage]= true
          [showBackground]= false
       ></circle-progress>
       <circle-progress
          [percent]="75"
          [radius]="60"
          [space]="-5"
          [outerStrokeWidth]="5"
          [outerStrokeColor]="'#76C2AF'"
          [innerStrokeColor]="'#ffffff'"
          [innerStrokeWidth]="5"
          [imageSrc]="'../../../assets/css.png'"
          [imageHeight]="86"
          [imageWidth]="85"
          [showImage]= true
          [showBackground]= false
       ></circle-progress>
       <circle-progress
          [percent]="90"
          [radius]="60"
          [space]="-5"
          [outerStrokeWidth]="5"
          [outerStrokeColor]="'#76C2AF'"
          [innerStrokeColor]="'#ffffff'"
          [innerStrokeWidth]="5"
          [imageSrc]="'../../../assets/html.png'"
          [imageHeight]="91"
          [imageWidth]="90"
          [showImage]= true
          [showBackground]= false
        ></circle-progress>

      </div>
      <div class="tech-list">
        <circle-progress
          [percent]="50"
          [radius]="60"
          [space]="-5"
          [outerStrokeWidth]="5"
          [outerStrokeColor]="'#76C2AF'"
          [innerStrokeColor]="'#ffffff'"
          [innerStrokeWidth]="5"
          [imageSrc]="'../../../assets/java-logo-1.png'"
          [imageHeight]="91"
          [imageWidth]="90"
          [showImage]= true
          [showBackground]= false
       ></circle-progress>
       <circle-progress
          [percent]="60"
          [radius]="60"
          [space]="-5"
          [outerStrokeWidth]="5"
          [outerStrokeColor]="'#76C2AF'"
          [innerStrokeColor]="'#ffffff'"
          [innerStrokeWidth]="5"
          [imageSrc]="'../../../assets/JavaScript-logo.png'"
          [imageHeight]="86"
          [imageWidth]="85"
          [showImage]= true
          [showBackground]= false
       ></circle-progress>
       <circle-progress
          [percent]="50"
          [radius]="60"
          [space]="-5"
          [outerStrokeWidth]="5"
          [outerStrokeColor]="'#76C2AF'"
          [innerStrokeColor]="'#ffffff'"
          [innerStrokeWidth]="5"
          [imageSrc]="'../../../assets/Typescript_logo_2020.svg.png'"
          [imageHeight]="86"
          [imageWidth]="85"
          [showImage]= true
          [showBackground]= false
        ></circle-progress>

      </div>
  </div>
